venv/*
__pychache__/*
.idea
.pytest_cache
*.pyc
*.xml
**/.ipynb_checkpoints/*

########################################
#   Potentially Generated Artifacts    #
########################################
**/*.json
**/*.html
**/*.css
**/*result_*.xml 
